#Consti:
#do not track the rknn crap files
external/rknn-toolkit/packages/*.whl

#do not track this crap neither:
external/rockx/python/*.whl

#do not track the generated images:
IMAGE/*

#also do not track this hughe file :)
kernel.git/*
packed-refsu-boot.git/*

# do not track the log (it increases with every build run)
br.log

#also, these img files are created during the build process:
rockdev/oem.img
rockdev/update.img

#and this whole repo:
.rootfs/*


#I use CLion ad ide, but do not add that stuff in github
.idea/*

# These directories have some stupid big files (Neural network-s) and we don't need them anyways
external/rknn-toolkit/*
external/rknpu/*
external/tensorflow/*


# copy paste begin (find . -size +99M)
./IMAGE/RV1126-OPENHD_20210727.0300_RELEASE_TEST/IMAGES/update.img
./IMAGE/RV1126-OPENHD_20210727.0300_RELEASE_TEST/IMAGES/oem.img
./IMAGE/RV1126-OPENHD_20210727.0300_RELEASE_TEST/IMAGES/rootfs.img
./IMAGE/RV1126-OPENHD_20210727.0300_RELEASE_TEST/IMAGES/rootfs.ext4
./IMAGE/RV1126-OPENHD_20210727.0300_RELEASE_TEST/PATCHES/kernel/vmlinux
./IMAGE/RV1126-OPENHD_20210727.0225_RELEASE_TEST/IMAGES/update.img
./IMAGE/RV1126-OPENHD_20210727.0225_RELEASE_TEST/IMAGES/oem.img
./IMAGE/RV1126-OPENHD_20210727.0225_RELEASE_TEST/IMAGES/rootfs.img
./IMAGE/RV1126-OPENHD_20210727.0225_RELEASE_TEST/IMAGES/rootfs.ext4
./IMAGE/RV1126-OPENHD_20210727.0225_RELEASE_TEST/PATCHES/kernel/vmlinux
./IMAGE/RV1126-OPENHD_20210726.2031_RELEASE_TEST/IMAGES/update.img
./IMAGE/RV1126-OPENHD_20210726.2031_RELEASE_TEST/IMAGES/oem.img
./IMAGE/RV1126-OPENHD_20210726.2031_RELEASE_TEST/IMAGES/rootfs.img
./IMAGE/RV1126-OPENHD_20210726.2031_RELEASE_TEST/IMAGES/rootfs.ext4
./IMAGE/RV1126-OPENHD_20210726.2031_RELEASE_TEST/PATCHES/kernel/vmlinux
./IMAGE/RV1126-OPENHD_20210727.0305_RELEASE_TEST/IMAGES/update.img
./IMAGE/RV1126-OPENHD_20210727.0305_RELEASE_TEST/IMAGES/oem.img
./IMAGE/RV1126-OPENHD_20210727.0305_RELEASE_TEST/IMAGES/rootfs.img
./IMAGE/RV1126-OPENHD_20210727.0305_RELEASE_TEST/IMAGES/rootfs.ext4
./IMAGE/RV1126-OPENHD_20210727.0305_RELEASE_TEST/PATCHES/kernel/vmlinux
./IMAGE/RV1126-OPENHD_20210727.0227_RELEASE_TEST/IMAGES/update.img
./IMAGE/RV1126-OPENHD_20210727.0227_RELEASE_TEST/IMAGES/oem.img
./IMAGE/RV1126-OPENHD_20210727.0227_RELEASE_TEST/IMAGES/rootfs.img
./IMAGE/RV1126-OPENHD_20210727.0227_RELEASE_TEST/IMAGES/rootfs.ext4
./IMAGE/RV1126-OPENHD_20210727.0227_RELEASE_TEST/PATCHES/kernel/vmlinux
./IMAGE/RV1126-OPENHD_20210727.0201_RELEASE_TEST/IMAGES/update.img
./IMAGE/RV1126-OPENHD_20210727.0201_RELEASE_TEST/IMAGES/oem.img
./IMAGE/RV1126-OPENHD_20210727.0201_RELEASE_TEST/IMAGES/rootfs.img
./IMAGE/RV1126-OPENHD_20210727.0201_RELEASE_TEST/IMAGES/rootfs.ext4
./IMAGE/RV1126-OPENHD_20210727.0201_RELEASE_TEST/PATCHES/kernel/vmlinux
./buildroot/output/rockchip_rv1126_rv1109/build/camera_engine_rkaiq-1.0/rkisp2x_tuner/RKISP2.x_Tuner_v1.5.3.exe
./buildroot/output/rockchip_rv1126_rv1109/build/host-camera_engine_rkaiq-custom/rkisp2x_tuner/RKISP2.x_Tuner_v1.5.3.exe
./buildroot/output/rockchip_rv1126_rv1109/build/rockx/python/RockX-1.2.0-py3-none-any.whl
./buildroot/output/rockchip_rv1126_rv1109/images/rootfs.ubifs
./buildroot/output/rockchip_rv1126_rv1109/images/rootfs.ext2
./buildroot/output/rockchip_rv1126_rv1109/images/rootfs.tar
./buildroot/output/rockchip_rv1126_rv1109/images/rootfs.cpio
./buildroot/output/rockchip_rv1126_rv1109/images/rootfs.ubi
./buildroot/dl/qtwebengine-everywhere-src-5.13.2.tar.xz
./buildroot/dl/linux-HEAD.tar.gz
./buildroot/dl/qtwebengine-everywhere-src-5.12.7.tar.xz
./buildroot/dl/qtwebengine-everywhere-src-5.15.1.tar.xz
./buildroot/dl/json-v3.0.1.tar.gz
./buildroot/dl/qtwebengine-everywhere-src-5.14.2.tar.xz
./external/rknn-toolkit/packages/rknn_toolkit-1.6.0-cp37-cp37m-macosx_10_15_x86_64.whl
./external/rknn-toolkit/packages/rknn_toolkit-1.6.0-cp36-cp36m-linux_x86_64.whl
./external/rknn-toolkit/packages/rknn_toolkit-1.6.0-cp35-cp35m-linux_x86_64.whl
./external/rknn-toolkit/packages/rknn_toolkit-1.6.0-cp36-cp36m-macosx_10_15_x86_64.whl
./external/rknn-toolkit/packages/rknn_toolkit-1.6.0-cp36-cp36m-win_amd64.whl
./external/rockx/python/RockX-1.2.0-py3-none-any.whl
./external/camera_engine_rkaiq/rkisp2x_tuner/RKISP2.x_Tuner_v1.5.3.exe
./kernel.git/objects/pack/pack-473c332ef8b6f3a5e48dbf002623ac0667356350.idx
./kernel.git/objects/pack/pack-2cbf778cc4b554e1a86ff8df3db2b753766ada32.pack
./kernel.git/objects/pack/pack-2cbf778cc4b554e1a86ff8df3db2b753766ada32.idx
./kernel.git/objects/pack/pack-473c332ef8b6f3a5e48dbf002623ac0667356350.pack
./kernel.git/objects/pack/pack-75728ce9c9a3affa141dcd0512491363e860e196.pack
./kernel/.tmp_vmlinux1
./kernel/.tmp_vmlinux2
./kernel/vmlinux
./kernel/.git/objects/pack/pack-473c332ef8b6f3a5e48dbf002623ac0667356350.idx
./kernel/.git/objects/pack/pack-2cbf778cc4b554e1a86ff8df3db2b753766ada32.pack
./kernel/.git/objects/pack/pack-2cbf778cc4b554e1a86ff8df3db2b753766ada32.idx
./kernel/.git/objects/pack/pack-473c332ef8b6f3a5e48dbf002623ac0667356350.pack
./kernel/.git/objects/pack/pack-75728ce9c9a3affa141dcd0512491363e860e196.pack
./kernel/vmlinux.o
./u-boot/.git/objects/pack/pack-465d0899a169f9ab3889193ece1d1cdd2e2efe39.pack
./u-boot/.git/objects/pack/pack-596ac37797f82288069efb43ce842186280f2406.pack
./.git/objects/c0/c751812f24d31b7f6a79108f64d86076099d28
./rockdev/update.img
./rockdev/oem.img
./prebuilts/gcc/linux-x86/arm/gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf/libexec/gcc/arm-linux-gnueabihf/8.3.0/f951
./prebuilts/gcc/linux-x86/arm/gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf/libexec/gcc/arm-linux-gnueabihf/8.3.0/lto1
./prebuilts/gcc/linux-x86/arm/gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf/libexec/gcc/arm-linux-gnueabihf/8.3.0/cc1plus
./prebuilts/gcc/linux-x86/arm/gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf/libexec/gcc/arm-linux-gnueabihf/8.3.0/cc1


